
<div>
    {{#if Productos}}
    <h1>Hola {{name}}, éste es tu carrito actual</h1>
    {{#each Productos}}
    <div>
        <p>Titulo: {{this._id.title}}</p>
        <p>Precio: {{this._id.price}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <button id="deleteProduct{{@index}}">Eliminar producto</button>
    </div>
    {{/each}}
    <a href="/">Seguir comprando</a>
    <button id="purchase">Finalizar la compra :)</button>
    {{else}}
    <h1>Aún no hay productos en tu carrito</h1>
    <a href="/">Comienza a comprar productos! :)</a>
    
    {{/if}}
</div>
<script src="../carrito.js"></script>